<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
  <property name="hibernate.default_schema">SAMPLE</property>
  <mapping class="com.amsidh.mvc.model.User"/>
  <mapping class="com.amsidh.mvc.model.UserRoles"/>
 </session-factory>
</hibernate-configuration>
